<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <form action="/" method="post">
    <label>Choose a background color for your picture:</label>
    <select name="color" id="cars">
      <option name="white" value="white">White</option>
      <option name="blue" value="blue">Passport background Blue</option>
      <option name="red" value="red">Passport background Red</option>
    </select>
    <br><br>
    <input name="input" type="text" />
    <button>Submit</button>
  </form>

  <form action="/" method="post">
    <button type="submit">click</button>
  </form>

</body>

</html>